/*------------ [_Root] -----------*/
:root {

  /* Colors */
  --white-color: #FAFAFA;
  --black-color: #000000;
  --grey-color: #DADADA;
  --dark-grey-color: #8a8a8e80;
  --light-blue-color: rgba(135, 190, 228, 0.1);
  --text-blue-color: #74A6C8;
  --blue-color: #025CE4;

  /* FontStyle*/
  --fontOne: 'cabinetgrotesk';
  

  /* Font Sizes */
  --font-seventyTwo: 2rem;
  --font-fourtyTwo: 2rem;
  --font-twentyFour: 1.25rem;
  --font-sixteen: .8725rem;
  --font-fourteen: .88rem;
  --font-twelve: .75rem;
}

@media screen and (min-width:900px) {
  :root {
    --font-seventyTwo: 4.5rem;
    --font-fourtyTwo: 2.625rem;
    --font-twentyFour: 1.5rem;
    --font-sixteen: 1rem;
    --font-fourteen: .88rem;
    --font-twelve: .75rem;
  }
}

/*------------ [_Reset_Styles] -----------*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/
body {
  max-width: 1440px;
  height: 100vh;
  background-color: var(--white-color);
  font-family: var(--fontTwo);
  color: var(--black-color);
  letter-spacing: 1px;
}

p, h1, h2, h3,
h4, h5, h6{
  padding: 0;
  margin: 0;
}

h2, h3,
h4, h5, h6 {
  color: var(--head-pri-color);
  font-family: var(--fontTwo);
}

p {
  font-size: var(--font-sixteen);
  line-height: 1.5rem;
  color: var(--text-pri-color);
}

h1 {
  font-size: var(--font-fourtyTwo);
  font-family: var(--fontOne);
  line-height: 15rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--purple-color);
}

h2 {
  font-size: var(--font-twentyFour);
  line-height: 2rem;
  font-weight: 400;
}

h3 {
  font-size: var(--font-sixteen);
  line-height: 2rem;
  font-weight: 400;
}

h4 {
  font-size: var(--font-sixteen);
  line-height: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: var(--font-twelve);
  font-weight: 400;
}

h6 {
  font-size: var(--font-eleven);
  line-height: 1.5rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--fontTwo);
  font-weight: 600;
  font-size: var(--font-fourteen);
}

ul li {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

/*--------------- [Body Wrapper] -------------*/
/* .bodyWrapper{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 2rem;
  margin: 0 auto;
} */