
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

@font-face {
  font-family: 'cabinetgrotesk';
  src: url('../public/assets/Cabinet-grotesk/cabinetgrotesk-regular-webfont.woff') format('woff')
      url('../public/assets/Cabinet-grotesk/cabinetgrotesk-regular-webfont.woff2') format('woff2');
}

/*------------ [_Root] -----------*/
:root {
  /* Colors */
  --white-color: #fafafa;
  --black-color: #000000;
  --grey-color: #dadada;
  --dark-grey-color: #8a8a8e80;
  --light-blue-color: rgba(135, 190, 228, 0.1);
  --text-blue-color: #74a6c8;
  --blue-color: #025ce4;

  /* FontStyle*/
  --font: "cabinetgrotesk";

  /* Font Sizes */
  --font-seventyTwo: 2rem;
  --font-fourtyTwo: 2rem;
  --font-twentyFour: 1.25rem;
  --font-sixteen: 0.8725rem;
  --font-fourteen: 0.88rem;
  --font-twelve: 0.75rem;
}

@media screen and (min-width: 900px) {
  :root {
    --font-seventyTwo: 4.5rem;
    --font-fourtyTwo: 2.625rem;
    --font-twentyFour: 1.5rem;
    --font-sixteen: 1rem;
    --font-fourteen: 0.88rem;
    --font-twelve: 0.75rem;
  }
}

/*------------ [_Reset_Styles] -----------*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*--------------- [_Utility] -------------*/
body {
  max-width: 1440px;
  height: 100vh;
  background-color: var(--white-color);
  font-family: var(--font);
  color: var(--black-color);
  letter-spacing: 1px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--head-pri-color);
  font-family: var(--font);
}

p {
  font-size: var(--font-sixteen);
  line-height: 1.5rem;
  color: var(--text-pri-color);
}

h1 {
  font-size: var(--font-fourtyTwo);
  font-family: var(--fontOne);
  line-height: 15rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--purple-color);
}

h2 {
  font-size: var(--font-twentyFour);
  line-height: 2rem;
  font-weight: 400;
}

h3 {
  font-size: var(--font-sixteen);
  line-height: 2rem;
  font-weight: 600;
}

h4 {
  font-size: var(--font-sixteen);
  line-height: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: var(--font-twelve);
  font-weight: 600;
}

h6 {
  font-size: var(--font-eleven);
  line-height: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font);
  font-weight: 600;
  font-size: var(--font-fourteen);
}

ul li {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}
